DATABASE_URL=
SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_ACCESS_KEY=
CLOUDFLARE_R2_SECRET_KEY=
CLOUDFLARE_R2_ENDPOINT=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=

# PostgreSQL (используется docker-compose)
POSTGRES_DB=mag_sklad
POSTGRES_USER=mag_sklad
POSTGRES_PASSWORD=
